*{ padding:0;
margin: 0;
}	

@font-face{
	font-family:"Vampire Calligraphy";
	src:url(C:\Users\Ceibal\Desktop\Trabajo Final\Vampire Calligraphy - TTF.ttf) format("truetype");
}

#contenido .navegador .navbar  a{
	color: rgb(247,10,132);
	font-size:17px;
	padding:7px;
}

#contenido #name{
	font-size:27px;
	font-family:"Vampire Calligraphy";
}

#contenido {
  width: 900px;
  margin: 0 auto;
}

.navegador {
  width: 900px;
  position: fixed;
  z-index: 100;
  top:0;
}

body {
    margin: 0;
	padding: 0;
	font-size: 1em;
	padding-top: 80px
}

li{
	padding: 5px;
	list-style:none;
}

ul{
	text-align:center;
	
}

.btn-outline-dark{
width:200px;
height:60px;
}

h1{
	text-align:center;
}

.llave {
	width:500px;
	height:380px;
	float: left;
}
h4, h5 {
	text-align:center;
}

.libro{
	width:500px;
	height:350px;
	float: right;
}

figcaption{
float:right;
}