*{
	padding:5px;
	margin:0 auto;
}

#contenedor{
  width:100%;
}

#english{
	display:none;
}

.navegador {
  width: 100%;
  height:85px;
  position: fixed;
  z-index: 1000;
  top:0;
  left:0;
  padding:0;
  background-color: rgb(100, 7, 41);
  
}

#contenedor .navegador .navbar #name {

	font-size:47px;
	color: white;
	margin-top:-17;
	font-family:'Marck Script', cursive;
	
}


#contenedor .navegador .navbar a {
	
	color: white;
	font-size:17px;
	padding-left:35px;
	text-align:center;
	
}

#contenedor .navegador .navbar a:hover {
   color:grey;
}
	

.logo{
	float:left;
	width:110px;
	height:130px;
	margin-top:0;
	border-radius:200px 200px 200px 200px;
}



.paralax1{
	background-image:url(Img/sky14.jpg);
    height:100px; 
	width:100%;
	top:0;
    left:0;
    padding:0;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.paralax2{
	background-image:url(Img/sky10.jpg);
    height:600px; 
	width:100%;
	top:0;
    left:0;
    padding:0;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: scroll;
    background-repeat: no-repeat;
    background-size: cover;

}


#jumbo1{
	background-color:white;
	border-radius: 20px 20px 20px 20px;
	}

.display-3{
	font-family: 'Playball', cursive;
	font-size:45px;
	color:rgb(160, 10, 64);
}

.lead{
	text-align:justify;
}

.bandera{
	width:70px;
	height:50px;
	margin-left:35%;
}
.bandera2{
	width:70px;
	height:50px;
	
}


#first{
	height:520px;
}

#second{
	
	height:520px;
}


.display-4{
	font-family: 'Playball', cursive;
	color:rgb(160, 10, 64);
	font-size: 40px;
}


#accordion .card{
	background-color:rgba(0,0,0,5);
	color:white;
}

.mb-0 .collapsed{
	color:white;
}

.cv{
	border-radius:200px 200px 200px 200px;
	background-color:black;
	margin-left:15%;
	margin-right: o auto;
}

.carta{border-radius:200px 200px 200px 200px;
	background-color:black;
    margin-left: 15%;
	margin-right:0 auto;
}
	
.curriculum {
	width:160px;
	height:160px;
}

.cartaa{width:160px;
	height:160px;
}
	

body{ background-color: black;
}


.btn-outline-secondary{
   height:60px;
   margin:0 30px;
}

.Entrevistas h1{	
	font-family: 'Playball', cursive;
	font-size:60px;
	color:rgb(160, 10, 64);
    text-align:center;	
}

.Entrevistas{
  text-align:justify;
  display:block;
}

#pequeño{
width:80px;
height:50px;
}

#rita{
	width:100%;
	height:180px;
}

#fabian{
	width:100%;
	height:180px;
}

#sebastian{
	width:100%;
	height:180px;
}

#santiago{
	width:100%;
	height:180px;
}
.primera{
	width:100%;
	height:400px;
}

.segunda{
	width:100%;
	height:400px;
}

.tercera{
    width:100%;
	height:400px;
}

.cuarta{
	width:100%;
	height:400px;
}

#conceptos{
text-align:center
}

.Definiciones h1{
	color:rgb(160, 10, 64);
	font-family:'Playball', cursive;
	font-size:60px;
}

.Definiciones p{
	color:white;
}

#laboral h1{
	font-family: 'Playball', cursive;
	font-size:45px;
	color:rgb(160, 10, 64);	
}


.BusquedaLaboral{
	background-color:white;
	text-align:justify;
}

#carousel slide{
	float:right;
}

h2{
     font-family:'Playball', cursive;
}

.contacto h3{
	color:rgb(160, 10, 64);	
	font-family:'Playball', cursive;
	font-size:40px;
	
}

.contacto{
	text-align:center;	
	color: black;
	font-size:20px;

	
}
